.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  .ul li {
    float: left;
    color: #080808;
  }
  
  .ul li a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .ul li a:hover {
    background-color: #ffffff;
  }